<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function inputAddress(zipCode,address){
            const zipCode_ = document.getElementById("zip-code").value;
            const addressDetail = document.getElementById("address-detail").value;  
            opener.document.getElementById(zipCode_).value = zipCode;
            opener.document.getElementById(addressDetail).value = address;        
            window.close();
        }
    </script>
    <title>우편번호검색</title>
</head>
<body>
    <form action="/util/search" method="post">    
        <input type="text" name="q" placeholder="검색하고자하는동이름이나 건물명을 입력">
        <input type="hidden" name="zipCode" id="zip-code" th:value="${zipCode}">
        <input type="hidden" name="addressDetail" id="address-detail" th:value="${addressDetail}">
        <button type="submit">검색</button>
    </form>
    <table>
    <input type="hidden" id="zip-code" th:value="${zipCode}">
    <input type="hidden" id="address-detail" th:value="${addressDetail}">
    <tr th:each="result : ${resultSet}">
        
        <td><span style="font-size:11px">[[${result.zipCode}]] [[${result.sido}]] [[${result.roadNm}]]  
        [[${result.siguBuildingNm}]]</span></td>
        <td><button style="font-size:11px" type="submit"  
            th:onclick="inputAddress([[${result.zipCode}]], 
            [[${result.sido}]] + [[${result.roadNm}]] + [[${result.siguBuildingNm}]])">선택</button></td>
    </tr>
    </table>
</body>
</html>