<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylsheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <form action="/member/update/action" method="post">
        <table>
        <tr>
            <td><h2>회원가입</h2></td>
        </tr>
        <tr><td>비밀번호</td></tr>
        <tr><td><input type="password" class="text" name="pw"></td></tr>
        <tr><td>이름</td></tr>
        <tr><td><input type="text" class="text" name="name" th:value="${resultSet.name}"></td></tr>
        <tr><td>이메일</td></tr>
        <tr>
            <td><input type="text" class="email" th:value="${email1}" name="email1"> @ 
                <select name="email2">
                    <option value="naver.com" th:selected="${email2} == naver.com">naver.com</option>
                    <option value="gmail.com" th:selected="${email2} == gmail.com">gmail.com</option>
                    <option value="daum.net" th:selected="${email2} == daum.net">daum.net</option>
                    <option value="nate.com" th:selected="${email2} == nate.com">nate.com</option>
                </select>
            </td>
        </tr>
        <tr><td><input type="submit" value="수정하기" class="btn"></td></tr>
        </table>
    </form>
</body>
</html>