<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script>
            function searchAddress(seq){
            const zipCode = "zip-code"+seq;
            const addressDetail = "address-detail"+seq;
            const link = "/util/search?zipCode="+zipCode+"&addressDetail="+addressDetail;
            const popup =  window.open(link,"","width=800px,height=600px");
        }
    </script>
    <title>Document</title>
</head>
<body>
    <form method="get" action="/member/update/detail/action" id="login-form">
        <input type="hidden" name = id th:value="${session.id}">
        <input type="text" name="phone" th:value="${resultPhone.phone}">
        <block th:each="result : ${resultAddress}">
          <hr>
            <button type="button" th:onclick="searchAddress([[${result.seq}]])">우편번호검색</button>
            <input type="hidden" name="seq" th:value="${result.seq}">
            <input type="text" th:id="|zip-code${result.seq}|"  name="zipCode" th:value="${result.zipCode}">    
            <input type="text" th:id="|address-detail${result.seq}|" name="address" th:value="${result.address}">
            <input type="text" name="addressDetail" th:value="${result.addressDetail}">
        </block>
        <input type="submit" value="등록">
    </form>
</body>
</html>