<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function searchMember(){
            const searchType=document.getElementById("memberType").value;
            const link = "/member?memberType="+searchType;
            location.href=link;
        }
    </script>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Member List</title>
</head>
<body>
    <span>Member List</span> 
    <a href="/">목록으로</a>
    <a href="/member/register">회원등록</a>
    <select name="memberType" id="memberType">
        <option value="">전체회원</option>
        <option value="0">준회원</option>
        <option value="1">정회원</option>
        <option value="2">관리회원</option>
    </select><button type="button" onclick="searchMember()">조회</button>
    <hr>
    <div class="divTable minimalistBlack">
        <div class="divTableHeading">   
          <div class="divTableRow">
          <div class="divTableHead">회원아이디</div>
          <div class="divTableHead">이름</div>
          <div class="divTableHead">생년월일</div>
          <div class="divTableHead">이메일</div>
          <div class="divTableHead">등급</div>
          <div class="divTableHead">가입일자</div>
          <div class="divTableHead">탈퇴유무</div>
          </div>
        </div>
        <div th:each="result : ${resultSet}" class="divTableBody">
          <div class="divTableRow">
            <div class="divTableCell" ><a th:href="@{/member/detail(id=${result.id})}" th:text="${result.id}"></a></div>
            <div class="divTableCell" th:text="${result.name}"></div>
            <div class="divTableCell" th:text="${result.birthDate}"></div>
            <div class="divTableCell" th:text="${result.email}"></div>
            <div th:if="${result.grade} == '0'" class="divTableCell" th:text="${result.gradeNm}"></div>
            <div th:unless="${result.grade} == '0'" class="divTableCell">
                <a th:href="@{/member/update/grade(id=${result.id},grade=${result.grade})}" th:text="${result.gradeNm}"></a></div>
            <div class="divTableCell" th:text="${result.regDt}"></div>
            <div th:if="${result.delFg} == '0'" class="divTableCell" th:text="${result.delFgNm}"></div>
            <div th:unless="${result.delFg} == '0'" class="divTableCell">
                <a th:href="@{/member/delete(id=${result.id})}" th:text="${result.delFgNm}"></a>
            </div>
            </div>
            </div>
          </div>
        </div>
</body>
</html>