<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function addAddress(){
            // location.href("/member/register/addAddress")
            const id = "[[${basicMemberInfo.id}]]";
            const link = '/member/register/addAddress?id='+id;
            const popup = window.open(link,'주소추가','width=800px,height=800px');
        }
    </script>
    <title>가입정보</title>
</head>
<body>
    <h3>기본정보</h3><a href="/">홈으로</a>
    <hr>
    <div>
        <span>아이디 : </span><span id="memberId" th:text="${basicMemberInfo.id}"></span><br>
        <span>이름 : </span><span th:text="${basicMemberInfo.name}"></span><br>
        <span>생년월일 : </span><span th:text="${basicMemberInfo.birthDate}"></span><br>
        <span>이메일 : </span><span th:text="${basicMemberInfo.email}"></span><br>
        <span>연락처 : </span><span th:text="${basicMemberInfo.phone}"></span><br>
    </div>
    <h3>주소</h3>
    <button type="button" onclick="addAddress()">주소추가</button>
    <div th:each="address : ${addressMemberInfo}">
    <hr>
        <span>우편번호 : </span><span th:text="${address.zipCode}"></span><br>
        <span>주소 : </span><span th:text="${address.address}"></span><br>
        <span>상세주소 : </span><span th:text="${address.addressDetail}"></span><br>  
    </div>
</body>
</html>