<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function searchAddress(){
            const popup =  window.open("/util/search","","width=800px,height=600px");
        }
    </script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-wrapper">
        <h2>상세정보입력</h2>
        <form method="get" action="/member/register/addAddress/action" id="login-form">
            <input type="hidden" name="id" th:value="${id}">
            <button type="submit" onclick="searchAddress()">우편번호</button>
            <input type="text" id="zip-code" name="zipCode">
            <input type="text" id="address-detail" name="address" placeholder="주소">
            <input type="text" name="addressDetail" placeholder="상세주소">
            <input type="submit" value="등록">
        </form>
    </div>
</body>
</html>